* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'PT Sans', Arial, Verdana;
  background-color: #eee;
}
.arriba {
  width:100%;
  height: 150px;
  display: flex;
  flex-flow: row nowrap;
 
}

.logo {
  /* width: 420px;
  height: 150px; */
  margin: left 0;
  /* display: block; */
  animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .logo:hover {
    cursor: pointer;
    src: url(/index.html)
  }

h1 {
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
  /* display: block; */
  margin: auto;
  transition: all .3s ease-out;
}

h1:hover {
  transform: translate(0, -5px);
}

.somos {
  text-align: center;
  font-size: 30px;
  /* text-transform: uppercase; */
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px black;
  margin: 0 auto;
  width:80%;
 padding-top: 120px;
}

.caja1 {
  width: 100%;
  height: 400px;
  background-image:url("../img/1.jpg");
  background-repeat: round;
 }


.caja2 {
  width: 100%;
  height: 600px;
  background-color: white;
  border-top: rgb(173, 173, 173) solid 1px;
  box-shadow:2px 5px 2px 5px rgba(0, 0, 0, 0.17);
  background-image:url("../img/22.jpg");

   
}
.nosotros {
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  text-shadow: -1px 1px #000;
  color:  #9b59b6;
  margin: 80px auto;
  width:100%;
}

.nos {
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
  color: rgb(116, 115, 115);
  margin: 80px auto;
  width:100%;
}

.nos2 {
  text-align: center;
  font-size: 22px;
  letter-spacing: 3px;
  color: rgb(116, 115, 115);
  width:80%;
    margin: 80px auto;
}

.caja3 {
  width: 100%;
  height: auto;
  background-color: #eee;
  border-top: rgb(173, 173, 173) solid 1px;
  /* display: contents; */
  background-image:url("../img/311.png");
  background-size: cover;
}


summary {
  outline: none;
  cursor: pointer;

}
summary::-webkit-details-marker {
  display: none
  }
summary:before { 
  content: "> ";
 
}

details[open] > summary:before {
  content: "˅ ";
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

.servicios {
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  text-shadow: -1px 1px #000;
  color:  #e67e22;
  margin: 75px auto;
  width:100%;
}
.ser {
  text-align: left;
  font-size: 30px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 1px #fff;
  color: rgb(85, 85, 85);
  margin: 20px auto;
  width:100%;
  padding-left: 10px;
  transition: all .4s ease-out;
}

.ser:hover {
  /* transform:scale(1.1,1.1); */
  /* transform:rotate(5deg); */
  font-size: 31px;
  color: rgb(27, 27, 27);
}

.ser2 {
  text-align: left;
  font-size: 18px;
  text-shadow: 1px 1px #fff;
  letter-spacing: 3px;
  color: rgb(85, 85, 85);
  width:90%;
    margin: 30px ;
}


.caja4 {
  width: 100%;
  /* height: 600px; */
  background-color: white;
  border-top: rgb(173, 173, 173) solid 1px;
  height: auto;
}

.contacto {
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  text-shadow: -1px 1px #000;
  color:  #16a085;
  margin: 40px auto;
  width:100%;
}

/* ACA VA EL MAPA DE GOOGLE, lo saque de maps */
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  border-radius: 10px 10px;
  margin: 10px;
  box-shadow: 1px 1px 10px ;
  
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.pie {
  background-color: #2c3e50;
  color: white;
  width:100%;
  height:80px;
  margin: 0;
  
}

.txtpie {
  width: 220px;
  letter-spacing: 2px;
  text-align: center;
  transition: all .3s ease-out;
}

h3.txtpie:hover {
  transform: translate(0, 5px);
}

/* EDITAR EL TEXTO DEL PIE */



/* ACA EDITO EL SCROLL ARRIBA - es de aweasome poner el script y el link */
/*botón up*/
.boton-subir{
  display: none;
  background: #e74c3c;
  border: thin solid #fff;
  border-radius: 3px;
  position: fixed;
  right: 15px;
  bottom:2px;
  z-index: 999999999;
}
/*evento hover*/
.boton-subir:hover{
  box-shadow:   0px 2px 10px 0px rgba(107, 106, 106, 0.75);
}
/*estilos para el tag i*/
.boton-subir i{
  color: #fff;
  font-size: 1.5em;
  padding: 10px 10px 10px 7px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 120px;
  margin: auto;
  position: relative;
  background-color: #2c3e50;
  z-index: 7;
}
.menu li {
  float: left;
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.menu a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;
}
a.active {
  background-color: #e74c3c;
  pointer-events: none;
}
li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  transition: left 0.4s, background-color 0.4s;
}
.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
  left: 0;
  background-color: #3498db;
}
.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
  left: 25%;
  background-color: #9b59b6;
}
.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
  left: 50%;
  background-color: #e67e22;
}
.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
  left: 75%;
  background-color: #16a085;
}


@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}
100% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateY(-10px)}
  100%  {opacity: 1; transform: translateY(0)}
}


@media (max-width:600px){
h1 {
font-size: 22px;
}

.somos {
  font-size: 23px;
  padding-top: 80px;

}

.nos {
  font-size: 23px;
  margin: -60px auto;
}

.ser{
  font-size: 23px;
  transition: all .4s ease-out;
}

.ser:hover {
  /* transform:scale(1.1,1.1); */
  /* transform:rotate(5deg); */
  font-size: 24px;
  color: rgb(61, 61, 61);
}



.arriba {
  display : contents;
}
.menu {
  height: 90px;
}

.servicios {
  margin : 40px auto;
}

}
  
@media (max-width:450px) {
  html, body {
    overflow-x: hidden;
  }

  .servicios {
    margin: 20px auto;
}

}

@media (max-width:380px) {
  html, body {
    overflow-x: hidden;
  }

  .servicios {
    margin: 20px auto;
    font-size: 36px;
}

.nosotros {
  margin: 33px auto 66px auto;
}

.ser2 {
  margin: 25px;
}

}